/*! Underline */
.underline {
    width: 60%;
    height: 10px;
    -webkit-transition: background-image 0.5s linear;
    transition: background-image 0.5s linear;
    background-image: url("./assets/img/underline.svg");
    background-repeat: repeat-x;
    background-size: auto;
    position: relative;
}

/*! class="business" */
.business > .inner {
  width: 120rem;
  margin: 0px auto;
  -moz-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

@media only screen and (max-width: 1366px) {
  .business > .inner {
    width: 83rem;
  }
}

@media only screen and (max-width: 1024px) {
  .business > .inner {
    width: 54.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .business > .inner {
    width: 28.5rem;
  }
}

@media all {
  .business > p {
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
  }

  .business > a,
  .business > a:visited {
    color: #0099ff;
    text-decoration: none;
  }

  .business > a:hover,
  .business > a:focus,
  .business > a:visited:hover,
  .business > a:visited:focus {
    color: #007dd1;
  }

  .business > a:link,
  .business > a:visited:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }

  .business > h2 {
    text-rendering: optimizelegibility;
    font-weight: 500;
    color: #26282d;
    font-family: "kozuka-mincho-pro", "proxima", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
  }

  .business > h2 {
    font-size: 28px;
    line-height: 1.333em;
    font-weight: bold;
    margin-bottom: 0.375em;
  }
}

@media all {
  .business > {
    display: block;
  }

  .business > a {
    background: transparent;
  }

  .business > a:focus {
    outline: none;
  }

  .business > a:active,
  .business > a:hover {
    outline: 0;
  }

  .business > p {
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
  }

  .business > a,
  .business > a:visited {
    color: #0099ff;
    text-decoration: none;
  }

  .business > h2 {
    font-size: 28px;
    line-height: 1.333em;
    font-weight: bold;
    margin-bottom: 0.375em;
  }
}

@media (min-width: 1200px) {
  .business > h2 {
    font-size: 2rem;
  }
}

.business > p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.business > a {
  color: #0d6efd;
  text-decoration: underline;
}

.business > a:hover {
  color: #0a58ca;
}

.business > .inner {
  width: 1248px;
  margin: 0px auto;
  -moz-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

@media only screen and (max-width: 1366px) {
  .business > .inner {
    width: 1008px;
  }
}

@media only screen and (max-width: 1024px) {
  .business > .inner {
    width: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .business > .inner {
    width: 435px;
  }
}

@media only screen and (max-width: 380px) {
  .business > .inner {
    width: 100%;
  }
}

section {
  width: 100%;
}

.business > .inner {
  width: 1248px;
  margin: 0px auto;
  -moz-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

@media only screen and (max-width: 1366px) {
  .business > .inner {
    width: 1008px;
  }
}

@media only screen and (max-width: 1024px) {
  .business > .inner {
    width: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .business > .inner {
    width: 100%;
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 380px) {
  .business > .inner {
    width: 100%;
  }
}

.titleSection {
  font-size: 52px;
  line-height: 60px;
  color: #34393f;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 800;
}

.titleSection span {
  color: #ff3c65;
}

@media only screen and (max-width: 1024px) {
  .titleSection {
    font-size: 48px;
    line-height: 55px;
  }
}

@media only screen and (max-width: 380px) {
  .titleSection {
    font-size: 36px;
    line-height: 41px;
  }
}

.legend {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #707689;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

@media only screen and (max-width: 380px) {
  .legend {
    font-size: 16px;
    line-height: 22px;
  }
}

.cta {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-decoration: none !important;
  padding: 16px 40px;
  border-radius: 8px;
}

@media only screen and (max-width: 380px) {
  .cta {
    font-size: 16px;
    line-height: 22px;
    padding: 16px 10px;
  }
}

.cta:hover {
  color: white;
}

.business > .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1366px) {
  .business > .inner {
    flex-direction: column;
  }
}

.business > .inner .left {
  max-width: 564px;
}

@media only screen and (max-width: 1366px) {
  .business > .inner .left {
    text-align: center;
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .business > .inner .left {
    margin-bottom: 30px;
  }
}

.business > .inner .left h2 {
  margin-bottom: 24px;
}

.business > .inner .left p {
  margin-bottom: 16px;
}

.business > .inner .left .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

@media only screen and (max-width: 1366px) {
  .business > .inner .left .line {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .business > .inner .left .line {
    flex-direction: column;
  }
}

.business > .inner .left .line .item {
  border: 1px solid #c4c6ce;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 18px;
  line-height: 25px;
  color: #34393f;
  text-align: center;
  letter-spacing: 0.02em;
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  width: 168px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 1366px) {
  .business > .inner .left .line .item {
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .business > .inner .left .line .item {
    width: 70%;
    height: 70px;
    margin: 10px 0px;
  }
}

.business > .inner .left .line .item:hover {
  border: 1px solid #34393f;
}

.business > .inner .left a {
  background: #4154f1;
  display: inline-block;
}

@media only screen and (max-width: 1366px) {
  .business > .inner .left a {
    margin-bottom: 24px;
  }
}

.business > .inner .right {
  width: 612px;
  height: 612px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://info.iadvize.com/hubfs/HP%20-%202021/Comments.png");
  transition: background-image linear 0.2s;
  position: relative;
}

.business > .inner .right .below {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .business > .inner .right {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .business > .inner .right {
    width: 300px;
    height: 300px;
  }
}


/*! MTM */
.mtm > h2,.mtm > h3{margin:0;padding:0;}
.mtm > h2,.mtm > h3{font-size:100%;font-weight:normal;}
.mtm > button{margin:0;}
.mtm {display:block;}
.mtm > h2, .mtm > h3{margin-top:0;margin-bottom:.5rem;}
.mtm > a{color:#007bff;text-decoration:none;background-color:transparent;}
.mtm > a:hover{color:#0056b3;text-decoration:underline;}
.mtm > button{border-radius:0;}
.mtm > button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
.mtm > button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
.mtm > button{overflow:visible;}
.mtm > button{text-transform:none;}
.mtm > [type=button],.mtm > button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
.mtm > h2,.mtm > h3{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
.mtm > h2{font-size:2rem;}
.mtm > h3{font-size:1.75rem;}
.mtm > .collapse:not(.show){display:none;}
.mtm {width:100%;}
.mtm > .inner{width:120rem;margin:0px auto;-moz-transition:width 0.5s linear;-o-transition:width 0.5s linear;-webkit-transition:width 0.5s linear;transition:width 0.5s linear;}
@media only screen and (max-width:1366px){
.mtm > .inner{width:83rem;}
}
@media only screen and (max-width:1024px){
.mtm > .inner{width:54.5rem;}
}
@media only screen and (max-width:768px){
.mtm > .inner{width:28.5rem;}
}
@media all{
.mtm > a,.mtm > a:visited{color:#0099ff;text-decoration:none;}
.mtm > a:hover,.mtm > a:focus,.mtm > a:visited:hover,.mtm > a:visited:focus{color:#007dd1;}
.mtm > a:link,.mtm > a:visited:link{-webkit-tap-highlight-color:rgba(0, 0, 0, 0.3);}
.mtm > h2,.mtm > h3{text-rendering:optimizelegibility;font-weight:500;color:#26282d;font-family:"kozuka-mincho-pro", "proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.mtm > h2{font-size:28px;line-height:1.333em;font-weight:bold;margin-bottom:0.375em;}
.mtm > h3{font-size:1.125em;}
.mtm > .content{text-align:center;padding-top:50px;font-size:0.9em;}
.mtm > button::-moz-focus-inner{padding:0;border:0;}
@media only screen and (min-width: 768px){
.mtm > .content{padding-top:50px;}
}
@media only screen and (min-width: 1030px){
.mtm > .content{padding-top:50px;text-align:left;font-size:1em;}
}
}
@media all{
.mtm {display:block;}
.mtm > video{display:inline-block;}
.mtm > a{background:transparent;}
.mtm > a:focus{outline:none;}
.mtm > a:active,.mtm > a:hover{outline:0;}
.mtm > button{font-family:inherit;font-size:100%;margin:0;}
.mtm > button{line-height:normal;}
.mtm > button{text-transform:none;}
.mtm > button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
.mtm {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.mtm > a,.mtm > a:visited{color:#0099ff;text-decoration:none;}
.mtm > a:hover,.mtm > a:focus,.mtm > a:visited:hover,.mtm > a:visited:focus{color:#007dd1;}
.mtm > a:link,.mtm > a:visited:link{-webkit-tap-highlight-color:rgba(0, 0, 0, 0.3);}
.mtm > h2,.mtm > h3{text-rendering:optimizelegibility;font-weight:500;color:#26282d;font-family:"kozuka-mincho-pro", "proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.mtm > h2{font-size:28px;line-height:1.333em;font-weight:bold;margin-bottom:0.375em;}
.mtm > h3{font-size:1.125em;}
.mtm > .content{text-align:center;padding-top:50px;font-size:0.9em;}
.mtm > button::-moz-focus-inner{padding:0;border:0;}
@media only screen and (min-width: 768px){
.mtm > .content{padding-top:50px;}
}
@media only screen and (min-width: 1030px){
.mtm > .content{padding-top:50px;text-align:left;font-size:1em;}
}
@media print{
.mtm {background:transparent!important;color:black!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important;}
.mtm > a,.mtm > a:visited{color:#444!important;text-decoration:underline;}
.mtm > a:after,.mtm > a:visited:after{content:" (" attr(href) ")";}
.mtm > h2,.mtm > h3{orphans:3;widows:3;}
.mtm > h2,.mtm > h3{page-break-after:avoid;}
}
}
.mtm > button{line-height:normal;}
.mtm > button span{padding:0;background:initial;height:auto;}
.mtm > h2,.mtm > h3{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;}
.mtm > h2{font-size:calc(1.325rem + .9vw);}
@media (min-width:1200px){
.mtm > h2{font-size:2rem;}
}
.mtm > h3{font-size:calc(1.3rem + .6vw);}
@media (min-width:1200px){
.mtm > h3{font-size:1.75rem;}
}

.collapse:not(.show){display:none;}
.accordion-button{position:relative;display:flex;align-items:center;width:100%;padding:1rem 1.25rem;font-size:1rem;color:#212529;text-align:left;background-color:#fff;border:0;border-radius:0;overflow-anchor:none;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;}
@media (prefers-reduced-motion:reduce){
.accordion-button{transition:none;}
}
.accordion-button:not(.collapsed){color:#0c63e4;background-color:#e7f1ff;box-shadow:inset 0 -1px 0 rgba(0,0,0,.125);}
.accordion-button:not(.collapsed)::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");transform:rotate(180deg);}
.accordion-button::after{flex-shrink:0;width:1.25rem;height:1.25rem;margin-left:auto;content:"";background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");background-repeat:no-repeat;background-size:1.25rem;transition:transform .2s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.accordion-button::after{transition:none;}
}
.accordion-button:hover{z-index:2;}
.accordion-button:focus{z-index:3;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.accordion-header{margin-bottom:0;}
.accordion-item{margin-bottom:-1px;background-color:#fff;border:1px solid rgba(0,0,0,.125);}
.accordion-item:first-of-type{border-top-left-radius:.25rem;border-top-right-radius:.25rem;}
.accordion-item:first-of-type .accordion-button{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.accordion-item:last-of-type{margin-bottom:0;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;}
.accordion-item:last-of-type .accordion-button.collapsed{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.accordion-item:last-of-type .accordion-collapse{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;}
.accordion-body{padding:1rem 1.25rem;}
.mtm {width:100%;}
.mtm .inner{width:1248px;margin:0px auto;-moz-transition:width 0.5s linear;-o-transition:width 0.5s linear;-webkit-transition:width 0.5s linear;transition:width 0.5s linear;}
@media only screen and (max-width:1366px){
.mtm .inner{width:1008px;}
}
@media only screen and (max-width:1024px){
.mtm .inner{width:750px;}
}
@media only screen and (max-width:768px){
.mtm .inner{width:435px;}
}
@media only screen and (max-width:380px){
.mtm .inner{width:100%;}
}
.mtm{width:100%;}
.mtm .inner{width:1248px;margin:0px auto;-moz-transition:width 0.5s linear;-o-transition:width 0.5s linear;-webkit-transition:width 0.5s linear;transition:width 0.5s linear;}
@media only screen and (max-width:1366px){
.mtm .inner{width:1008px;}
}
@media only screen and (max-width:1024px){
.mtm .inner{width:750px;}
}
@media only screen and (max-width:768px){
.mtm .inner{width:100%;padding:0px 10px;}
}
@media only screen and (max-width:380px){
.mtm .inner{width:100%;}
}
.titleSection{font-size:52px;line-height:60px;color:#34393F;font-family:"Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:800;}
@media only screen and (max-width:1024px){
.titleSection{font-size:48px;line-height:55px;}
}
@media only screen and (max-width:380px){
.titleSection{font-size:36px;line-height:41px;}
}
.cta{font-size:18px;line-height:25px;color:#FFFFFF;font-family:"proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;text-decoration:none!important;padding:16px 40px;border-radius:8px;}
@media only screen and (max-width:380px){
.cta{font-size:16px;line-height:22px;padding:16px 10px;}
}
.cta:hover{color:white;}
.mtm .max{margin-top:-2px;background-color:#1BC74E;}
.mtm .max .inner{padding-top:100px;padding-bottom:120px;}
@media only screen and (max-width:1024px){
.mtm .max .inner{padding-top:50px;padding-bottom:50px;}
}
.mtm .max .inner h3{color:white;text-align:center;margin-bottom:56px;}
.mtm .max .inner .content{display:flex;align-items:center;justify-content:space-between;}
@media only screen and (max-width:1366px){
.mtm .max .inner .content{flex-direction:column-reverse;}
}
.mtm .max .inner .content .left{max-width:612px;height:700px;border-radius:8px;background:transparent;}
@media only screen and (max-width:1366px){
.mtm .max .inner .content .left{margin-top:100px;max-width:400px;height:auto;}
}
@media only screen and (max-width:768px){
.mtm .max .inner .content .left{max-width:100%;height:auto;}
}
.mtm .max .inner .content .left video{width:100%;border-radius:8px;}
.mtm .max .inner .content .right{max-width:564px;}
@media only screen and (max-width:768px){
.mtm .max .inner .content .right{max-width:100%;height:auto;}
}
.mtm .max .inner .content .right .accordion{margin-bottom:50px;}
.mtm .max .inner .content .right .accordion .accordion-item{min-width:564px;background-color:transparent;border:none;margin-bottom:48px;}
@media only screen and (max-width:768px){
.mtm .max .inner .content .right .accordion .accordion-item{min-width:100%;}
}
.mtm .max .inner .content .right .accordion .accordion-item .accordion-body{font-size:18px;line-height:25px;letter-spacing:0.02em;font-family:"Nunito", "Helvetica Neue";font-weight:normal;padding:0px;padding-top:24px;color:white;}
@media only screen and (max-width:768px){
.mtm .max .inner .content .right .accordion .accordion-item .accordion-body{font-size:16px;line-height:22px;}
}
.mtm .max .inner .content .right .accordion .accordion-item .activeH2 button span .trait #omnichanel{width:0%;animation:loading 20s linear;background-image:url("https://info.iadvize.com/hubfs/HP%20-%202021/Vector%20(3).svg");}
.mtm .max .inner .content .right .accordion .accordion-item .accordion-header button{font-family:"proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:32px;line-height:38px;padding:0px;background-color:transparent;color:white;}
@media only screen and (max-width:768px){
.mtm .max .inner .content .right .accordion .accordion-item .accordion-header button{font-size:24px;line-height:29px;}
}
.mtm .max .inner .content .right .accordion .accordion-item .accordion-header button span .trait{width:100%;height:10px;background-image:url("https://info.iadvize.com/hubfs/HP%20-%202021/Group%201122.svg");background-repeat:repeat-x;background-size:auto;position:relative;}
.mtm .max .inner .content .right .accordion .accordion-item .accordion-header button span .trait .loading{position:absolute;top:0px;left:0px;bottom:0px;background-image:url("https://info.iadvize.com/hubfs/HP%20-%202021/Group%201123.svg");background-repeat:repeat-x;background-size:auto;}
.mtm .max .inner .content .right .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed){color:white;background-color:transparent;box-shadow:none;}
.mtm .max .inner .content .right #link{background-color:transparent;border:1px solid white;margin-top:20px;}
.interlude{background-image:url("https://info.iadvize.com/hubfs/HP%20-%202021/Group%201022%20(2).svg");background-repeat:repeat-x;height:24px;border:none;}
